* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.wallet-adapter-button {
  border: 0px;
  color: transparent;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  background: white;
  font-weight: 700;
}





.cdx-block,
.ce-header,
.inlineToolButton,
.ce-inline-toolbar,
.ce-toolbar__plus,
.ce-toolbar__settings-btn,
.ce-popover__search {
  background-color: black;
  color: white;
}


.ce-inline-tool:hover {
  color: black;
}

.ce-inline-toolbar__dropdown:hover .ce-inline-toolbar__dropdown-content  {
  color: black;
}
.ce-inline-toolbar__dropdown:hover .ce-inline-toolbar__dropdown-arrow {
  color: black;
}

.ce-conversion-toolbar, .ce-conversion-tool__icon {
  background-color: black;
}


.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover,
.cdx-loader,
.cdx-button {
  color: white;
  background-color: black;
}

.cdx-button:hover {
  background-color: black;
}

.ce-popover,
.ce-popover-item,
.ce-popover-item__icon,
.ce-popover-items,
.ce-popover-item:hover {
  --color-background-item-hover: black;
  background-color: black;
  color: white;
  border: none;
}

/* .cdx-block, .ce-header {
  background-color: rgb(5, 5, 5);
} */

.cdx-block::selection {
  color: black;
  background-color: white;
}

.cdx-search-field__input {
  color: white;
}


.cdx-text-variant__toggler svg, .cdx-settings-button svg {
  color: white;
  fill: white;
}

.cdx-text-variant__toggler:hover svg, .cdx-settings-button:hover svg {
  color: black;
  fill: black;
}


.tc-popover.tc-popover--opened, .tc-popover__item-icon {
  background: black;
}


.tc-cell.tc-cell--selected, .tc-row.tc-row--selected {
  background: rgb(25, 25, 25);
}

.tc-popover__item .tc-popover__item-icon {
  background: black;
}

.tc-toolbox__toggler:hover svg {
  color: white;
  fill: white;
}

code.inline-code {
  background: white;
  color: red;
}

.cdx-block.cdx-warning:before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='5' y='5' width='14' height='14' rx='4' stroke='orangered' stroke-width='2'/%3E%3Cline x1='12' y1='9' x2='12' y2='12' stroke='orangered' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M12 15.02V15.01' stroke='orangered' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

.cdx-attaches.cdx-attaches--with-file {
  background: black;
}