.topDiv {
    display: flex;
    padding: 1rem;
    justify-content: space-around;

    .title {
        font-size: 2.5rem;
    }

    div {
        display: grid;
        place-content: center;

        .saveBtn {
            color: white;
            font-weight: 700;
            font-size: 1rem;
            background: cornflowerblue;
            border: 0px;
            padding: .75rem 1.5rem .75rem 1.5rem;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: rgb(53, 122, 251);
            }
        }
    }
}

.errorBlock {
    display: grid;
    place-content: center;

    div {
        margin: 1rem 1rem 0 1rem;
        border: 1px solid red;
        color: red;
        font-size: .75rem;
        width: 65vw;
        display: flex;
        align-self: center;
        border-radius: 5px;
        font-weight: 700;
        padding: .75rem 1.25rem .75rem 1.25rem;
        background-color: rgba(255, 117, 117, 0.224);
    }
}

.editor {
    margin-top: 2rem;
    padding: 2rem;
}

.noteConfig {
    display: grid;
    place-content: center;
    margin: 1rem 0 2rem 0;

    .titleInput,
    .descriptionInput {
        margin: 1rem 0 0rem 0;
        width: 65vw;
        border: 0px;
        font-weight: 900;
        font-size: 1.5rem;
        border-bottom: 1px solid rgb(48, 48, 48);
        color: white;
        background-color: black;
        padding: 1rem;
        outline: none;
    }

    .descriptionInput {
        font-weight: 600;
        font-size: 1.15rem;
        color: grey;
    }
}



@media (max-width: 450px) {
    .topDiv {
        justify-content: space-between;

        .title {
            font-size: 1.5rem;
        }
    }

    .noteConfig {

        .titleInput,
        .descriptionInput {
            width: 85vw;
        }
    }

    .editor {
        padding: .5rem;
    }
}