.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 15vh;
    background: rgba(0, 0, 0, 0.331);
    position: fixed;
    backdrop-filter: blur(4px);
    z-index: 100;
    // border-bottom: 1px solid rgb(50, 50, 50);

    .titleDiv {
        display: flex;
        align-items: center;

        .subTitleDiv {
            display: flex;
            align-items: baseline;
            margin-left: 1rem;
        }

        .toggleBtn {
            // margin-left: 1rem;
            width: 2.35rem;
            height: 2.35rem;
            display: grid;
            place-content: center;
            border: 0px;
            cursor: pointer;
            border-radius: 10px;
            background: linear-gradient(125deg, rgba(255, 0, 190, 1) 0%, rgba(255, 0, 198, 1) 30%, rgba(82, 115, 255, 1) 100%);
        }

        h2 {
            a {
                text-decoration: none;
                // background: -webkit-linear-gradient(right, rgb(255, 79, 249), #ff0396);
                // background: linear-gradient(90deg, rgba(255,0,190,1) 0%, rgba(255,0,198,1) 30%, rgba(82,115,255,1) 100%);
                // background-clip: text;
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                font-weight: 400;
                color: white;
            }
        }

        .ballDiv {
            height: 1rem;
            width: 1rem;
            margin: .3rem 0 0 .3rem;
            border-radius: 100px;
            background: linear-gradient(90deg, rgba(255, 0, 190, 1) 0%, rgba(255, 0, 198, 1) 30%, rgba(82, 115, 255, 1) 100%);
        }
    }


    .navBar {
        .navList {
            display: flex;
            justify-content: space-between;
            list-style: none;

            .navItem {
                padding: 0 .5rem 0 .5rem;

                .navLink {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.537);
                    font-weight: 200;
                }
            }
        }
    }

    .toggleDiv {
        display: flex;

        .toggleBtn {
            margin-left: 1rem;
            width: 2.5rem;
            height: 2.5rem;
            display: grid;
            place-content: center;
            border: 0px;
            background-color: transparent;
            cursor: pointer;
        }
    }
}


.sideBar {
    background-color: black;
    border-right: 1px solid rgb(40, 40, 40);
    height: 100vh;
    width: 20vw;
    position: fixed;
    overflow-y: scroll;
    z-index: 100;

    .topBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15vh;
        padding: 1rem;

        .titleDiv {
            display: flex;
            align-items: baseline;

            h2 {
                a {
                    text-decoration: none;
                    // background: -webkit-linear-gradient(right, rgb(255, 79, 249), #ff0396);
                    // background: linear-gradient(90deg, rgba(255,0,190,1) 0%, rgba(255,0,198,1) 30%, rgba(82,115,255,1) 100%);
                    // background-clip: text;
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    font-weight: 400;
                    color: white;
                }
            }
    
            .ballDiv {
                height: 1rem;
                width: 1rem;
                margin: .3rem 0 0 .3rem;
                border-radius: 100px;
                background: linear-gradient(90deg, rgba(255, 0, 190, 1) 0%, rgba(255, 0, 198, 1) 30%, rgba(82, 115, 255, 1) 100%);
            }
        }

        .closeSideBarDiv {
            .toggleBtn {
                // margin-left: 1rem;
                width: 2rem;
                height: 2rem;
                display: grid;
                place-content: center;
                border: 0px;
                cursor: pointer;
                border-radius: 10px;
                background: linear-gradient(125deg, rgba(255, 0, 190, 1) 0%, rgba(255, 0, 198, 1) 30%, rgba(82, 115, 255, 1) 100%);
            }
        }
    }

    .navDiv {
        margin-top: 1.5rem;

        .navList {
            padding: .5rem;

            .listItem {
                margin: .5rem .25rem .5rem .25rem;
                padding: .5rem 0 .5rem 0;
                border-radius: 4px;
                text-align: left;
                padding-left: 1rem;
                display: grid;
                // align-items: center;
                grid-template-columns: 15% 85%;
                cursor: pointer;

                div {
                    display: flex;
                    align-items: center;
                }


                &:hover {
                    background-color: rgb(25, 25, 25);
                }

                .listLink {
                    margin-left: .25rem;
                    text-decoration: none;
                    color: rgb(135, 135, 135);
                    font-weight: 600;
                }
            }

            .active {
                background-color: rgb(46, 46, 46);

                svg {
                    fill: white;
                }

                .listLink {
                    color: white;
                }
            }

            
        }
    }

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(35, 35, 35);
        border-radius: 10px;
    }
}

.mainView {
    padding-top: 15vh;
    min-height: 150vh;
    width: 100vw;
    background-color: rgb(20, 20, 20);
    position: absolute;
    right: 0rem;
    color: white;

    .childView {
        margin: 1rem;
    }
}

.halfView {
    width: 80vw;
}

@media (max-width: 974px) {
    .sideBar {
        width: 25vw;
    }

    .halfView {
        width: 75vw;
    }
}


@media (max-width: 768px) {
    .sideBar {
        width: 30vw;
    }

    .halfView {
        width: 100vw;
    }
}



@media (max-width: 638px) {
    .sideBar {
        width: 35vw;
    }

    .halfView {
        width: 100vw;
    }
}


@media (max-width: 540px) {
    .sideBar {
        width: 40vw;
    }

    .halfView {
        width: 100vw;
    }
}


@media (max-width: 468px) {
    .sideBar {
        width: 100vw;
    }

    .halfView {
        width: 100vw;
    }
}

// .mainSection {
//     width: 100vw;
//     height: 100vh;
//     overflow: hidden;
//     display: grid;
//     background-color: black;
//     color: white;
//     grid-template-columns: 80vw 20vw;

//     .sideBar {
//         // width: 20vw;
//         padding: 1rem;
//         padding-top: calc(15vh + 1rem);
//         background: rgba(0, 0, 0, 0.52);
        // border-right: 1px solid rgb(50, 50, 50);
//         backdrop-filter: blur( 4px );
//         z-index: 50;
//         // position: fixed;

//         .topbar {
//             display: flex;
//             justify-content: flex-end;
//             height: 2rem;

//             button {
//                 background: transparent;
//                 border: 0px;
//             }
//         }
//     }

//     .mainView {
//         // position: absolute;
//         margin-top: 15vh;
//         padding: 1rem;
//         // margin-bottom: 5vh;
        // background-color: rgb(20, 20, 20);
//         height: 85vh;
//         overflow-y: scroll;

//         .openSidebarDiv {
//             height: 2rem;
//             display: flex;
//             justify-content: flex-end;
            
//             button {
                // background: linear-gradient(125deg, rgba(255, 0, 190, 1) 0%, rgba(255, 0, 198, 1) 30%, rgba(82, 115, 255, 1) 100%);
//                 border-radius: 10px;
//                 width: 2.5rem;
//                 height: 2.5rem;
//                 display: grid;
//                 place-content: center;
//                 border: 0px;
//                 cursor: pointer;
//             }
//         }

//         .childBox {
//             margin-top: 2.5rem;
//         }
//     }
// }

// @media (max-width: 830px) {
//     .mainSection {
//         grid-template-columns: 75vw 25vw;
//     }
// }


// @media (max-width: 648px) {
//     .mainSection {
//         grid-template-columns: 100vw;

//         .sideBar {
//             position: absolute;
//             display: none;
//             height: 100vh;
//             width: 100vw;
//         }
//     }
// }