.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 15vh;
  background: rgba(0, 0, 0, 0.331);
  position: fixed;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
}
.header .titleDiv {
  display: flex;
  align-items: center;
}
.header .titleDiv .subTitleDiv {
  display: flex;
  align-items: baseline;
  margin-left: 1rem;
}
.header .titleDiv .toggleBtn {
  width: 2.35rem;
  height: 2.35rem;
  display: grid;
  place-content: center;
  border: 0px;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(125deg, rgb(255, 0, 190) 0%, rgb(255, 0, 198) 30%, rgb(82, 115, 255) 100%);
}
.header .titleDiv h2 a {
  text-decoration: none;
  font-weight: 400;
  color: white;
}
.header .titleDiv .ballDiv {
  height: 1rem;
  width: 1rem;
  margin: 0.3rem 0 0 0.3rem;
  border-radius: 100px;
  background: linear-gradient(90deg, rgb(255, 0, 190) 0%, rgb(255, 0, 198) 30%, rgb(82, 115, 255) 100%);
}
.header .navBar .navList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header .navBar .navList .navItem {
  padding: 0 0.5rem 0 0.5rem;
}
.header .navBar .navList .navItem .navLink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.537);
  font-weight: 200;
}
.header .toggleDiv {
  display: flex;
}
.header .toggleDiv .toggleBtn {
  margin-left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

.sideBar {
  background-color: black;
  border-right: 1px solid rgb(40, 40, 40);
  height: 100vh;
  width: 20vw;
  position: fixed;
  overflow-y: scroll;
  z-index: 100;
}
.sideBar .topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 1rem;
}
.sideBar .topBar .titleDiv {
  display: flex;
  align-items: baseline;
}
.sideBar .topBar .titleDiv h2 a {
  text-decoration: none;
  font-weight: 400;
  color: white;
}
.sideBar .topBar .titleDiv .ballDiv {
  height: 1rem;
  width: 1rem;
  margin: 0.3rem 0 0 0.3rem;
  border-radius: 100px;
  background: linear-gradient(90deg, rgb(255, 0, 190) 0%, rgb(255, 0, 198) 30%, rgb(82, 115, 255) 100%);
}
.sideBar .topBar .closeSideBarDiv .toggleBtn {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-content: center;
  border: 0px;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(125deg, rgb(255, 0, 190) 0%, rgb(255, 0, 198) 30%, rgb(82, 115, 255) 100%);
}
.sideBar .navDiv {
  margin-top: 1.5rem;
}
.sideBar .navDiv .navList {
  padding: 0.5rem;
}
.sideBar .navDiv .navList .listItem {
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 4px;
  text-align: left;
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 15% 85%;
  cursor: pointer;
}
.sideBar .navDiv .navList .listItem div {
  display: flex;
  align-items: center;
}
.sideBar .navDiv .navList .listItem:hover {
  background-color: rgb(25, 25, 25);
}
.sideBar .navDiv .navList .listItem .listLink {
  margin-left: 0.25rem;
  text-decoration: none;
  color: rgb(135, 135, 135);
  font-weight: 600;
}
.sideBar .navDiv .navList .active {
  background-color: rgb(46, 46, 46);
}
.sideBar .navDiv .navList .active svg {
  fill: white;
}
.sideBar .navDiv .navList .active .listLink {
  color: white;
}
.sideBar::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.sideBar::-webkit-scrollbar-thumb {
  background-color: rgb(35, 35, 35);
  border-radius: 10px;
}

.mainView {
  padding-top: 15vh;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(5, 5, 5);
  position: absolute;
  right: 0rem;
  color: white;
}
.mainView .childView {
  margin: 1rem;
}

.halfView {
  width: 80vw;
}

@media (max-width: 974px) {
  .sideBar {
    width: 25vw;
  }
  .halfView {
    width: 75vw;
  }
}
@media (max-width: 768px) {
  .sideBar {
    width: 30vw;
  }
  .halfView {
    width: 100vw;
  }
}
@media (max-width: 638px) {
  .sideBar {
    width: 35vw;
  }
  .halfView {
    width: 100vw;
  }
}
@media (max-width: 540px) {
  .sideBar {
    width: 40vw;
  }
  .halfView {
    width: 100vw;
  }
}
@media (max-width: 468px) {
  .sideBar {
    width: 100vw;
  }
  .halfView {
    width: 100vw;
  }
}/*# sourceMappingURL=layout.module.css.map */